.cloud{
  display: layout(cloud);
  --random-seed: 30;
  width : 500px;
  height : 500px;
  background: rgba(0,0,0,0.2);
  border-radius: 25px;
}

.child{
  font-size: 24px;
  font-weight: blod;
  color: #918EFB;
  text-shadow: 0px 2px 2px white;
}